<a href="https://colab.research.google.com/github/omid-sakaki-ghazvini/Educations/blob/main/Exceptions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exceptions:

In [ ]:

print(a)
a

NameError: name 'a' is not defined

In [ ]:
lst = [ali]

NameError: name 'ali' is not defined

In [ ]:
s= 'ali'
print(s + 2)

TypeError: can only concatenate str (not "int") to str

In [ ]:
s.append('reza')

AttributeError: 'str' object has no attribute 'append'

In [ ]:
lst = [15, 20, 17]
print(lst[3])

IndexError: list index out of range

In [ ]:
d = {'a' : 5 , 'b' : 6}
print(d['c'])

KeyError: 'c'

In [ ]:
x = 8/0

ZeroDivisionError: division by zero

In [ ]:
if x=0:
    print('ali')

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3609619292.py, line 1)

In [ ]:
print(h)

NameError: name 'h' is not defined

In [ ]:
try:
    print(h)
except NameError:
        print('welcome')

welcome

In [ ]:
try:
    print(g)
except NameError as ne:
    print(ne)

name 'g' is not defined

In [ ]:
try:
    print(g)
except NameError:
    print('خطا')

خطا

In [ ]:
s= 'ali'
print(s + 2)

TypeError: can only concatenate str (not "int") to str

In [ ]:
try:
    s= 'ali'
    print(s + 2)
except TypeError as te:
    print(te)

can only concatenate str (not "int") to str

In [ ]:
try:
    s= 'ali'
    s.append('reza')
except AttributeError as ae:
    print(ae)

'str' object has no attribute 'append'

In [ ]:
try:
    lst = [15, 20, 17]
    print(lst[3])
except IndexError as ie:
    print(ie)

list index out of range

In [ ]:
d = {'a' : 5 , 'b' : 6}
print(d['c'])

KeyError: 'c'

In [ ]:
try:
    d = {'a' : 5 , 'b' : 6}
    print(d['c'])
except KeyError as ke:
    print(ke)

'c'

In [ ]:
try:
    x = 8/0
except ZeroDivisionError as ze:
    print(ze)

division by zero

## تمرین 1 امتیازی:

## input:

In [ ]:
 def divide(a,b):
        try:
            print(a/b)
        except ZeroDivisionError:
            print("تقسیم بر صفر تعریف نشده است")

In [ ]:
divide(4, 2)

2.0

In [ ]:
divide(4, 0)

تقسیم بر صفر تعریف نشده است

## output:

## تقسیم بر صفر تعریف نشده است

In [ ]:
def divide(x, y):
    try:
        a = x / y
    except  ZeroDivisionError:
        print('تقسیم بر صفر تعریف نشده است')
    else:
        print(a)

## تمرین 2 امتیازی:

## خروجی کد زیر چیست؟ تحلیل کنید

In [ ]:
lst = ["2", "4", "5"]
list(map(lambda x: x+2 , lst))

TypeError: can only concatenate str (not "int") to str

## با تکنیک گفته شده خطای کد را برطرف کنید

In [ ]:
lst = ["2", "4", "5"]
try:
    print(list(map(lambda x: x+2 , lst)))
except TypeError:
    print(list(map(lambda x: int(x)+2 , lst)))

In [ ]:
x = int(input("Please enter a number: "))

Please enter a number: 8

In [ ]:
x = int(input("Please enter a number: "))

Please enter a number: g

ValueError: invalid literal for int() with base 10: 'g'

## مثال:

In [ ]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops! Try again...")

Please enter a number: u
Oops! Try again...
Please enter a number: h
Oops! Try again...
Please enter a number: i
Oops! Try again...
Please enter a number: o
Oops! Try again...
Please enter a number: 7

In [ ]:
i=0
lst_input = []

while True:

    x = input('please enter 5 numbers:')
    if x.isdigit():
        lst_input.append(int(x))
        i = i + 1
    else:
        print('please enter number')


    if i == 5:
        print(lst_input)
        break

please enter 5 numbers:r
please enter number
please enter 5 numbers:t
please enter number
please enter 5 numbers:1
please enter 5 numbers:2
please enter 5 numbers:3
please enter 5 numbers:g
please enter number
please enter 5 numbers:4
please enter 5 numbers:h
please enter number
please enter 5 numbers:6
[1, 2, 3, 4, 6]

In [ ]:
i=0
lst_input = []

while True:

    x = input('please enter 5 numbers:')
    if x.isdigit():
        lst_input.append(int(x))
        i = i + 1
    else:
        print('please enter number')


    if i == 5:
        print(lst_input)
        break

## سوال 7 آزمون:

## از کاربر میخواهیم که 5 عددی را به عنوان ورودی به ما بدهد و ما این اعداد را داخل یک لیست قرار میدهیم. با تکنیک گفته شده، اگر کاربر بجای عدد، حروف وارد کرد به او پیغام خطا داده و از او میخواهیم که مقدار درست را وارد نماید. پس از اینکه 5 عدد وارد شد، لیست اعداد را نمایش داده و برنامه خاتمه پیدا میکند؟

In [ ]:
def input_list():
    i=0
    lst_input = []
    while True:
        try:
            x=int(input("Please enter 5 numbers:"))
            lst_input.append(x)
            i = i+1
            print("number"f"{i} :",x)
        except ValueError:
                    print("Please enter only numbers!")
        if i == 5:
            break
    return(lst_input)

In [ ]:
input_list()