<a href="https://colab.research.google.com/github/omid-sakaki-ghazvini/Educations/blob/main/Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Visualization:

## Seaborn & Matplotlib:

## load iris dataset :

In [ ]:
####### Visualization #######

import seaborn as sns

import matplotlib.pyplot as plt


####### import dataset #######

from sklearn.datasets import load_iris

In [ ]:
import pandas as pd

iris = load_iris()

iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [ ]:
df_iris = pd.DataFrame(iris.data, columns = iris.feature_names)

df_iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
df_iris['target'] = iris.target

In [ ]:
df_iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [ ]:
target_names = {
    0:'setosa',
    1:'versicolor',
    2:'virginica'
}

In [ ]:
df_iris['target_names'] = df_iris['target'].map(target_names)

df_iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [ ]:
df_iris.shape

(150, 6)

In [ ]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int32
 5   target_names       150 non-null    object
dtypes: float64(4), int32(1), object(1)
memory usage: 6.6+ KB

In [ ]:
df_iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

## Line Charts:

<div style="direction:rtl">
<font color='red' size="5px">
 مثال:
    </font>
</div>

In [ ]:
plt.figure(figsize=(16,6))

plt.ylabel('feature')

plt.xlabel('data')

plt.title("iris dataset")

sns.lineplot(data=df_iris);

<div style="direction:rtl">
<font color='blue' size="5px">
تمرین 1 امتیازی: دیتاستی مانند قطعه کد زیر ایجاد کرده و سپس نمودار lineplot آن را رسم نمایید:
    </font>
</div>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a = np.random.randint(10,100, size=(1, 20))
b = np.random.randint(20,40, size=(1, 20))

a = list(a.flatten())
b = list(b.flatten())

target = []
for i in range(len(a)):
    target.append(0)

data = {'length': a, 'width': b, 'target': target}

df1 = pd.DataFrame(data)

df1

In [ ]:
a = np.random.randint(50,200, size=(1, 20))
b = np.random.randint(10,20, size=(1, 20))

a = list(a.flatten())
b = list(b.flatten())

target = []
for i in range(len(a)):
    target.append(1)

data = {'length': a, 'width': b, 'target': target}

df2 = pd.DataFrame(data)

df2

In [ ]:
df = pd.concat([df1, df2], ignore_index = True)
df.shape

In [ ]:
target_names = {
    0:'apple',
    1:'orange'
}

In [ ]:
df['target_names'] = df['target'].map(target_names)

df

In [ ]:
plt.figure(figsize=(16,6))

plt.title("test dataset")

sns.lineplot(data=df);

## Bar chart:

<div style="direction:rtl">
<font color='red' size="5px">
 مثال:
    </font>
</div>

In [ ]:
plt.figure(figsize=(10,6))

plt.title("iris dataset")

sns.barplot(x=df_iris.target_names, y=df_iris['sepal length (cm)'])

plt.ylabel("sepal length (cm)")

In [ ]:
fig, axes = plt.subplots(2, 2, sharex=True, figsize=(10,5))

plt.suptitle("iris dataset")

#sepal length
sns.barplot(data=df_iris ,x='target_names', y='sepal length (cm)', ax=axes[0,0]);

#sepal width
sns.barplot(data=df_iris ,x='target_names', y='sepal width (cm)', ax=axes[0,1]);

#petal length
sns.barplot(data=df_iris ,x='target_names', y='petal length (cm)', ax=axes[1,0]);

#petal width
sns.barplot(data=df_iris ,x='target_names', y='petal width (cm)', ax=axes[1,1]);

<div style="direction:rtl">
<font color='blue' size="5px">
تمرین 2 امتیازی: برای دیتاست ایجاد شده در تمرین اول، نمودار barplot آن را رسم نمایید:
    </font>
</div>

In [ ]:
fig, axes = plt.subplots(1,2, sharex=True, figsize=(10,5))

plt.suptitle("test dataset")

sns.barplot(data=df ,x='target_names', y='length', ax=axes[0]);

sns.barplot(data=df ,x='target_names', y='width', ax=axes[1]);

## Scatter plots:

<div style="direction:rtl">
<font color='red' size="5px">
 مثال:
    </font>
</div>

In [ ]:
fig, axes = plt.subplots(2, 2, sharex=True, figsize=(10,5))

plt.suptitle("iris dataset")

#sepal
sns.scatterplot(data=df_iris ,x='sepal width (cm)', y='sepal length (cm)', ax=axes[0,0]);

#petal
sns.scatterplot(data=df_iris ,x='petal width (cm)', y='petal length (cm)', ax=axes[0,1]);

#sepal length & petal length
sns.scatterplot(data=df_iris ,x='sepal length (cm)', y='petal length (cm)', ax=axes[1,0]);

#sepal width & petal width
sns.scatterplot(data=df_iris ,x='sepal width (cm)', y='petal width (cm)', ax=axes[1,1]);

<div style="direction:rtl">
<font color='blue' size="5px">
تمرین 3 امتیازی: برای دیتاست ایجاد شده در تمرین اول، نمودار scatterplot آن را رسم نمایید:
    </font>
</div>

In [ ]:
figsize=(10,5)

plt.suptitle("test dataset")

sns.scatterplot(data=df ,x='width', y='length');

In [ ]:
fig, axes = plt.subplots(2, 2, sharex=True, figsize=(10,5))

plt.suptitle("iris dataset")

#sepal
sns.regplot(data=df_iris ,x='sepal width (cm)', y='sepal length (cm)', ax=axes[0,0]);

#petal
sns.regplot(data=df_iris ,x='petal width (cm)', y='petal length (cm)', ax=axes[0,1]);

#sepal length & petal length
sns.regplot(data=df_iris ,x='sepal length (cm)', y='petal length (cm)', ax=axes[1,0]);

#sepal width & petal width
sns.regplot(data=df_iris ,x='sepal width (cm)', y='petal width (cm)', ax=axes[1,1]);

<div style="direction:rtl">
<font color='blue' size="5px">
تمرین 4 امتیازی: برای دیتاست ایجاد شده در تمرین اول، نمودار regplot آن را رسم نمایید:
    </font>
</div>

In [ ]:
figsize=(10,5)

plt.suptitle("test dataset")

sns.regplot(data=df ,x='width', y='length');

In [ ]:
fig, axes = plt.subplots(2, 2, sharex=True, figsize=(10,5))

plt.suptitle("iris dataset")

#sepal
sns.scatterplot(data=df_iris ,x='sepal width (cm)', y='sepal length (cm)', hue='target_names', ax=axes[0,0]);

#petal
sns.scatterplot(data=df_iris ,x='petal width (cm)', y='petal length (cm)', hue='target_names', ax=axes[0,1]);

#sepal length & petal length
sns.scatterplot(data=df_iris ,x='sepal length (cm)', y='petal length (cm)', hue='target_names',ax=axes[1,0]);

#sepal width & petal width
sns.scatterplot(data=df_iris ,x='sepal width (cm)', y='petal width (cm)', hue='target_names', ax=axes[1,1]);

In [ ]:
figsize=(10,5)

plt.suptitle("test dataset")

sns.scatterplot(data=df ,x='width', y='length', hue='target_names');

## Histograms:

<div style="direction:rtl">
<font color='red' size="5px">
 مثال:
    </font>
</div>

In [ ]:
fig, axes = plt.subplots(2, 2, sharex=True, figsize=(10,5))

plt.suptitle("iris dataset")

#sepal length
sns.histplot(df_iris['sepal length (cm)'], ax=axes[0,0]);

#sepal width
sns.histplot(df_iris['sepal width (cm)'], ax=axes[0,1]);

#petal length
sns.histplot(df_iris['petal length (cm)'], ax=axes[1,0]);

#petal width
sns.histplot(df_iris['petal width (cm)'], ax=axes[1,1]);

<div style="direction:rtl">
<font color='blue' size="5px">
تمرین 5 امتیازی: برای دیتاست ایجاد شده در تمرین اول، نمودار histplot آن را رسم نمایید:
    </font>
</div>

In [ ]:
fig, axes = plt.subplots(1, 2, sharex=True, figsize=(10,5))

plt.suptitle("test dataset")

sns.histplot(df['length'], ax=axes[0]);

sns.histplot(df['width'], ax=axes[1]);

## Density plots:

<div style="direction:rtl">
<font color='red' size="5px">
 مثال:
    </font>
</div>

In [ ]:
fig, axes = plt.subplots(2, 2, sharex=True, figsize=(10,5))

plt.suptitle("iris dataset")

#sepal length
sns.kdeplot(data=df_iris['sepal length (cm)'], shade=True, ax=axes[0,0]);

#sepal width
sns.kdeplot(data=df_iris['sepal width (cm)'], shade=True, ax=axes[0,1]);

#petal length
sns.kdeplot(data=df_iris['petal length (cm)'], shade=True, ax=axes[1,0]);

#petal width
sns.kdeplot(data=df_iris['petal width (cm)'], shade=True, ax=axes[1,1]);

<div style="direction:rtl">
<font color='blue' size="5px">
تمرین 6 امتیازی: برای دیتاست ایجاد شده در تمرین اول، نمودار kdeplot آن را رسم نمایید:
    </font>
</div>

In [ ]:
fig, axes = plt.subplots(1, 2, sharex=True, figsize=(10,5))

plt.suptitle("test dataset")

sns.kdeplot(df['length'], shade=True, ax=axes[0]);

sns.kdeplot(df['width'], shade=True, ax=axes[1]);

In [ ]:
fig, axes = plt.subplots(2, 2, sharex=True, figsize=(10,5))

plt.suptitle("iris dataset")

#sepal length
sns.boxplot(x=df_iris.target_names, y=df_iris['sepal length (cm)'], ax=axes[0,0]);

#sepal width
sns.boxplot(x=df_iris.target_names, y=df_iris['sepal width (cm)'], ax=axes[0,1]);

#petal length
sns.boxplot(x=df_iris.target_names, y=df_iris['petal length (cm)'], ax=axes[1,0]);

#petal width
sns.boxplot(x=df_iris.target_names, y=df_iris['petal width (cm)'], ax=axes[1,1]);

<div style="direction:rtl">
<font color='blue' size="5px">
تمرین 7 امتیازی: برای دیتاست ایجاد شده در تمرین اول، نمودار boxplot آن را رسم نمایید:
    </font>
</div>

In [ ]:
fig, axes = plt.subplots(1, 2, sharex=True, figsize=(10,5))

plt.suptitle("test dataset")

sns.boxplot(x=df.target_names, y=df['length'], ax=axes[0]);

sns.boxplot(x=df.target_names, y=df['width'], ax=axes[1]);

## 2D KDE plots:

<div style="direction:rtl">
<font color='red' size="5px">
 مثال:
    </font>
</div>

In [ ]:
plt.figure(figsize=(10,6))

plt.suptitle("iris dataset")

#sepal length & petal length
sns.jointplot(data=df_iris ,x='sepal length (cm)', y='petal length (cm)', kind="kde");

#sepal width & petal width
sns.jointplot(data=df_iris ,x='sepal width (cm)', y='petal width (cm)', kind="kde");

<div style="direction:rtl">
<font color='blue' size="5px">
تمرین 8 امتیازی: برای دیتاست ایجاد شده در تمرین اول، نمودار jointplot آن را رسم نمایید:
    </font>
</div>

In [ ]:
figsize=(10,5)

plt.suptitle("test dataset")

sns.jointplot(data=df, x=df['length'], y=df['width'], kind="kde");

## Color-coded plots:

<div style="direction:rtl">
<font color='red' size="5px">
 مثال:
    </font>
</div>

In [ ]:
fig, axes = plt.subplots(2, 2, sharex=True, figsize=(10,5))

plt.suptitle("iris dataset")

#sepal length
sns.histplot(data=df_iris, x='sepal length (cm)', hue='target_names', ax=axes[0,0]);

#sepal width
sns.histplot(data=df_iris, x='sepal width (cm)', hue='target_names', ax=axes[0,1]);

#petal length
sns.histplot(data=df_iris, x='petal length (cm)', hue='target_names', ax=axes[1,0]);

#petal width
sns.histplot(data=df_iris, x='petal width (cm)', hue='target_names', ax=axes[1,1]);

<div style="direction:rtl">
<font color='blue' size="5px">
تمرین 9 امتیازی: برای دیتاست ایجاد شده در تمرین اول، نمودار histplot آن را رسم نمایید:
    </font>
</div>

In [ ]:
fig, axes = plt.subplots(1, 2, sharex=True, figsize=(10,5))

plt.suptitle("test dataset")

sns.histplot(data=df, x=df['length'], hue='target_names', ax=axes[0]);

sns.histplot(data=df, x=df['width'], hue='target_names', ax=axes[1]);

In [ ]:
fig, axes = plt.subplots(2, 2, sharex=True, figsize=(10,5))

plt.suptitle("iris dataset")

#sepal length
sns.kdeplot(data=df_iris, x='sepal length (cm)', hue='target_names', shade=True, ax=axes[0,0]);

#sepal width
sns.kdeplot(data=df_iris, x='sepal width (cm)', hue='target_names', shade=True, ax=axes[0,1]);

#petal length
sns.kdeplot(data=df_iris, x='petal length (cm)', hue='target_names', shade=True, ax=axes[1,0]);

#petal width
sns.kdeplot(data=df_iris, x='petal width (cm)', hue='target_names', shade=True, ax=axes[1,1]);

<div style="direction:rtl">
<font color='blue' size="5px">
تمرین 10 امتیازی: برای دیتاست ایجاد شده در تمرین اول، نمودار kdeplot آن را رسم نمایید:
    </font>
</div>

In [ ]:
fig, axes = plt.subplots(1, 2, sharex=True, figsize=(10,5))

plt.suptitle("test dataset")

sns.kdeplot(data=df, x=df['length'], hue='target_names', shade=True, ax=axes[0]);

sns.kdeplot(data=df, x=df['width'], hue='target_names', shade=True, ax=axes[1]);