# بازگشتی:

## مثال:

## فاکتوریل:

0! = 1

3! = 3 * 2 * 1

6! = 6 * 5 * 4 * 3 * 2 * 1

n! = n * (n-1) * (n-2) * ... * 3 * 2 * 1

In [1]:
def fact(n):
    temp = 1
    if n == 0 :
        print('1')
    else:
        for i in range(1, n+1):
             temp = temp * i
        print(temp)

In [2]:
fact(3)

6

## یادآوری:

In [3]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

## نکته:

## iterative:

## در حل مثال بالا، تابع فاکتوریل را بصورت تکرار شونده تعریف کردیم

3! = 3 * 2!

2! = 2 * 1!

1! = 1

3! = 3 * 2 = 6

n! = n * (n-1)!

## recursive:

## حال میخواهیم تابع فاکتوریل را بصورت بازگشتی تعریف کنیم

In [4]:
def fact_rec(n):
    if n == 1:
        return 1
    else:
        return n * fact_rec(n-1)

In [5]:
fact_rec(3)

6

## مثال:

 2^3 = 2 * 2 * 2

5^2 = 5 * 5

## iterative:

In [1]:
def power(x,y):
    if y == 0:
        return(1)
    
    elif x == 0:
        return(0)
    
    elif y == 1:
        return(x)
    
    else:
        temp = 1
        while y > 0:
            temp = temp * x
            y = y - 1
        return(temp)

x = 3 , y = 2 , temp = 1
...........................
1- 
temp = temp * 3 = 1 * 3 = 3
y = 2 - 1 = 1
...........................
2- 
temp = temp * 3 = 3 * 3 = 9
y = 1 - 1 = 0
...........................

In [2]:
power(3,2)

9

In [3]:
power(5,4)

625

In [4]:
power(2,4)

16

In [ ]:
def power(x,y):
    if y == 0:
        return(1)
    
    elif x == 0:
        return(0)
    
    elif y == 1:
        return(x)
    
    else:
        temp = 1
        while y > 0:
            temp = temp * x
            y = y - 1
        return(temp)

## تمرین 1 امتیازی:

## مثال قبلی (به توان رساندن عدد) را بصورت یک تابع بازگشتی بنویسید

In [5]:
def power_rec(x,y):
    if y == 0:
        return 1
    elif x == 0:
        return 0
    elif y == 1:
        return x
    else:
        return x * power_rec(x,y-1)

In [6]:
power_rec(3,2)

9

In [7]:
power_rec(5,2)

25

## مثال:

فیبوناچی دنباله اعداد ادامه دار است.
(0,1,1,2,3,5,8,13,21,34,...)
در این دنباله به غیر از 2 عدد اول، بقیه اعضا از جمع دو مقدار قبلی بدست می آیند.

(0,1) => شروع دنباله
0+1=1 => مرحله اول
..................
(0,1,1) => یکبار پیمایش
1+1=2 => مرحله دوم
..................
(0,1,1,2) => پیمایش دوم
1+2=3 => مرحله سوم
..................

(0,1,1,2,3,5,8,...)

fibonacci (6) : 8

In [16]:
def fibo(n):
    a = 0
    b = 1
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        while a < n-2:
            a, b = b, a + b
        return b

In [17]:
print(fibo(6))

8

(0,1,1,2,3,5,8,...)
..........................
fibo(0) = 0
fibo(1) = 1
fibo(2) = 1
fibo(3) = 2
fibo(4) = 3
fibo(5) = 5
fibo(6) = 8

a = 0 , b = 1, n = 6
........................
a<n-2 => 0<4
a, b = b, a+b => a = 1, b = 1
........................
1<4
a, b = b, a+b => a = 1 , b = 2
........................
1<4
a, b = b, a+b => a = 2 , b = 3
........................
2<4
a, b = b, a+b => a = 3 , b = 5
........................
3<4
a, b = b, a+b => a = 5 , b = 8
........................
5<4
return(8)

In [ ]:
def fibo(n):
    a = 0
    b = 1
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        while a < n-2:
            a, b = b, a + b
        return b

## تمرین 2 امتیازی:

## مثال قبلی (فیبوناچی) را بصورت یک تابع بازگشتی بنویسید

In [18]:
def fibo(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

In [19]:
print(fibo(6))

8

## مثال:

## input:

In [ ]:
n = 123

## output:

In [ ]:
6

In [8]:
def sum_digits(n):
    if n == 0:
        return(0)
    else:
        temp=0
        while n>0:
            temp = n % 10 + temp
            n = int(n/10)
    return(temp)

In [9]:
sum_digits(123)

6

n = 123
temp = 0
.............
1- 
temp = 123 % 10 + temp = 3 + 0 = 3
n = int(n/10) = int(123 / 10) = int(12.3) = 12
.............
2-
temp = 12 % 10 + temp = 2 + 3 = 5
n = int(n/10) = int(12 / 10) = int(1.2) = 1
.............
3-
temp = 1 % 10 + temp = 1 + 5 = 6
n = int(n/10) = int(1 / 10) = int(0.1) = 0
.............
4-
temp = 6
n = 0

In [ ]:
def sum_digits(n):
    if n == 0:
        return(0)
    else:
        temp=0
        while n>0:
            temp = n % 10 + temp
            n = int(n/10)
    return(temp)

## تمرین 3 امتیازی:

## مثال قبلی را بصورت یک تابع بازگشتی بنویسید

n = 123

(123 % 10) +  sum_digits(int(123/10))= 3 + sum_digits(12)

3 + ( (12 % 10) + sum_digits(int(12/10)) = 3 + ( 2 + sum_digits(1))

3 + ( 2 + ( (1 % 10) + sum_digits(int(1/10)))) = 3 + ( 2 + ( 1 + sum_digits(0)))

= 3 + 2 + 1 = 6

In [ ]:
def sum_digits(n):
    if n == 0:
        return 0
    else:
        return n % 10 + sum_digits(int(n/10))

In [ ]:
sum_digits(123)

## مثال:

## input:

In [10]:
n = [1, 2, 3]

## output:

In [ ]:
6

In [11]:
def test(lst):
    if len(lst) == 1:
        return(lst[0])
    else:
        temp = 0
        for i in lst:
            temp = i + temp
        return(temp)

In [12]:
test(n)

6

## تمرین 4 امتیازی:

## مثال قبلی را بصورت یک تابع بازگشتی بنویسید

In [13]:
def test(lst):
    if len(lst) == 1:
        return lst[0]
    else:
        return lst[0] + test(lst[1:])

In [14]:
test(n)

6

## سوال ششم آزمون:

n + (n-2) +(n-4) +...

## دنباله فوق را بصورت یک تابع بازگشتی تعریف نمایید

## input:

10

## output:

10 + 8 + 6 + 4 + 2 = 30

30

In [ ]:
def sum_series(n):
    if n < 1 :
        return 0
    else:
        return n + sum_series(n-2)

In [ ]:
sum_series(10)