<a href="https://colab.research.google.com/github/omid-sakaki-ghazvini/Educations/blob/main/%D8%AA%D8%A7%D9%BE%D9%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple:

## تاپل: همانند لیست ها هستند با این تفاوت که تاپل بعد از مقداردهی قابل تغییر نیست. مزیت استفاده از تاپل ها به جای لیست ها، سادگی و عدم تغییرپذیری آنهاست

## مثال:

In [ ]:
a = ('omid', 'amir', 'ehsan', 'iman', 'ali')

In [ ]:
print(a)
print(type(a))
print(len(a))

('omid', 'amir', 'ehsan', 'iman', 'ali')
<class 'tuple'>
5

In [ ]:
b = ['omid', 'amir', 'ehsan', 'iman', 'ali']

In [ ]:
print(b)
print(type(b))
print(len(b))

['omid', 'amir', 'ehsan', 'iman', 'ali']
<class 'list'>
5

In [ ]:
x = a[1:3]
print(x)
type(x)

('amir', 'ehsan')

tuple

In [ ]:
y = b[1:3]
print(y)
type(y)

['amir', 'ehsan']

list

In [ ]:
a.index('ali')

4

In [ ]:
b.index('ali')

4

In [ ]:
for i in a:
    print(i, 'Hello!')

omid Hello!
amir Hello!
ehsan Hello!
iman Hello!
ali Hello!

In [ ]:
for i in b:
    print(i, 'Hello!')

omid Hello!
amir Hello!
ehsan Hello!
iman Hello!
ali Hello!

## مثال:

In [ ]:
a = (2, 4, 6)

In [ ]:
print(sum(a))
print(max(a))
print(min(a))

12
6
2

## مثال:

In [ ]:
a = (2, 4, 6)

In [ ]:
a.insert(2,8)

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
a.append(8)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
a = (2, 4, 6)
print(a)
print(type(a))

(2, 4, 6)
<class 'tuple'>

In [ ]:
b = list(a)

In [ ]:
b

[2, 4, 6]

In [ ]:
b.append(8)

In [ ]:
print(b)
print(type(b))

[2, 4, 6, 8]
<class 'list'>

In [ ]:
b = list(a)
b.append(8)
print(b)
print(type(b))

In [ ]:
a = tuple(b)
print(a)
print(type(a))

(2, 4, 6, 8)
<class 'tuple'>

In [ ]:
a = (2, 4, 6)

In [ ]:
a = a + (8,)
print(a)

(2, 4, 6, 8)

## مثال:

In [ ]:
a = (2, 4, 6, 8)
print(a)
type(a)

(2, 4, 6, 8)

tuple

In [ ]:
a.remove(4)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
a = list(a)
print(a)
type(a)

[2, 4, 6, 8]

list

In [ ]:
a.remove(2)
print(a)

[4, 6, 8]

In [ ]:
a = tuple(a)
print(a)
type(a)

(4, 6, 8)

tuple

## مثال:

In [ ]:
a = (1, 2, 3)
b = (4, 5, 6)

In [ ]:
c = zip(a,b)

In [ ]:
c

In [ ]:
x = list(c)

In [ ]:
print(x)

[(1, 4), (2, 5), (3, 6)]

In [ ]:
type(x)

list

## تمرین 5 امتیازی:

## input

In [ ]:
a = (35, 42, 65 , 12)
b = (True, False, True, False)

## output:

(35, True)  : Yes
(42, False)  : No
(65, True)  : Yes
(12, False)  : No

In [ ]:
def my_def2(a, b):
    c = zip(a,b)
    x = list(c)
    for i in x:
        a = i[0]
        b = i[1]
        if a >= 35 and b:
            print(i, ' : Yes')
        else:
            print(i, ' : No')

In [ ]:
my_def2(a,b)

(35, True)  : Yes
(42, False)  : No
(65, True)  : Yes
(12, False)  : No