<a href="https://colab.research.google.com/github/omid-sakaki-ghazvini/Educations/blob/main/%D8%AF%DB%8C%DA%A9%D8%B4%D9%86%D8%B1%DB%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# دیکشنری


# دیکشنری: ساختار داده ای هست که مشابه لیستها هست با این تفاوت که برای دسترسی به اعضای آن از دو مقدار
# key
# value
# استفاده میکنیم

## **dictionary**

## مثال:

In [ ]:
a =[1,2,3] #list

b =(1,2,3) #tuple

In [ ]:
a = {'Ardabil' : 45 , 'Alborz' : 26 , 'Tehran' : 21 , 'Semnan' : 23}

In [ ]:
print(type(a))
print(len(a))

<class 'dict'>
4

In [ ]:
a['Alborz']

26

In [ ]:
a.get('Alborz')

26

In [ ]:
a.keys()

dict_keys(['Ardabil', 'Alborz', 'Tehran', 'Semnan'])

In [ ]:
list(a.keys())

['Ardabil', 'Alborz', 'Tehran', 'Semnan']

In [ ]:
a.values()

dict_values([45, 26, 21, 23])

In [ ]:
list(a.values())

[45, 26, 21, 23]

In [ ]:
a.items()

dict_items([('Ardabil', 45), ('Alborz', 26), ('Tehran', 21), ('Semnan', 23)])

In [ ]:
list(a.items())

[('Ardabil', 45), ('Alborz', 26), ('Tehran', 21), ('Semnan', 23)]

In [ ]:
b = (1,2,3)
for i in b:
    print(i)

1
2
3

In [ ]:
for i,j in a.items():
    print(i,':',j)

Ardabil : 45
Alborz : 26
Tehran : 21
Semnan : 23

In [ ]:
a = {'Ardabil' : 45 , 'Alborz' : 26 , 'Tehran' : 21 , 'Semnan' : 23}

In [ ]:
a

{'Ardabil': 45, 'Alborz': 26, 'Tehran': 21, 'Semnan': 23}

In [ ]:
b = a.pop('Semnan')
print(a)
print(b)

KeyError: 'Semnan'

In [ ]:
b= a.popitem()
print(a)
print(b)

{'Ardabil': 45, 'Alborz': 26}
('Tehran', 21)

In [ ]:
a.clear()
print(a)

{}

In [ ]:
del a

In [ ]:
a

NameError: name 'a' is not defined

## تمرین 1 امتیازی:

## یادآوری:

In [ ]:
a = ['انگور', 'سیب', 'موز', 'انگور', 'پرتغال', 'سیب', 'موز', 'انگور']

In [ ]:
def my_count(example):
    num = 0
    for i in a:
        if i == example:
            num = num + 1
    return(num)

In [ ]:
my_count('انگور')

## input:

In [ ]:
a = ['amir', 'omid', 'zahra', 'amir', 'ehsan', 'omid', 'zahra', 'amir']

## output:

In [ ]:
{'amir': 3, 'omid': 2, 'zahra': 2, 'ehsan': 1}

In [ ]:
a = ['amir', 'omid', 'zahra', 'amir', 'ehsan', 'omid', 'zahra', 'amir']

In [ ]:
def my_counter(example):
    num = {}
    for i in example :
        if i not in num:
            num[i] = 1
        else:
            num[i] = num[i] + 1
    return(num)

In [ ]:
my_counter(a)

{'amir': 3, 'omid': 2, 'zahra': 2, 'ehsan': 1}

## مثال:

## input:

    std    num1 num2
    
 	ahmad 	12 	20
 	omid 	8 	19
 	amir 	10 	13
 	zahra 	18 	10
 	ehsan 	15 	11
 	dorsa 	20 	15

## output:

    std 	ave
    
 	ahmad 	32
 	omid 	27
 	amir 	23
 	zahra 	28
 	ehsan 	26
 	dorsa 	35

In [ ]:
person = {'std' : ['ahmad', 'omid', 'amir', 'zahra', 'ehsan', 'dorsa'],
          'num1' : [12, 8, 10, 18, 15, 20],
          'num2' : [20, 19, 13, 10, 11, 15]}
person

{'std': ['ahmad', 'omid', 'amir', 'zahra', 'ehsan', 'dorsa'],
 'num1': [12, 8, 10, 18, 15, 20],
 'num2': [20, 19, 13, 10, 11, 15]}

In [ ]:
a = person.popitem()

a

('num2', [20, 19, 13, 10, 11, 15])

In [ ]:
a= a[1]

a

[20, 19, 13, 10, 11, 15]

In [ ]:
b=person.popitem()

b

('num1', [12, 8, 10, 18, 15, 20])

In [ ]:
b=b[1]
b

[12, 8, 10, 18, 15, 20]

In [ ]:
c=person.popitem()
c=c[1]
c

['ahmad', 'omid', 'amir', 'zahra', 'ehsan', 'dorsa']

In [ ]:
print(a)
print(b)
print(c)

[20, 19, 13, 10, 11, 15]
[12, 8, 10, 18, 15, 20]
['ahmad', 'omid', 'amir', 'zahra', 'ehsan', 'dorsa']

In [ ]:
d=zip(a,b,c)

In [ ]:
d=list(d)
d

[(20, 12, 'ahmad'),
 (19, 8, 'omid'),
 (13, 10, 'amir'),
 (10, 18, 'zahra'),
 (11, 15, 'ehsan'),
 (15, 20, 'dorsa')]

In [ ]:
d[0]

(20, 12, 'ahmad')

In [ ]:
d[0][0]

20

In [ ]:
d[0][1]

12

In [ ]:
d[0][2]

'ahmad'

In [ ]:
x = d[0][0] + d[0][1]
x

32

In [ ]:
def my_ave(this_dict):
    std = []
    ave = []

    a = this_dict.popitem()
    a = a[1]
    b = this_dict.popitem()
    b = b[1]
    c = this_dict.popitem()
    c = c[1]

    d = zip(a,b,c)
    d = list(d)

    for i in range(len(a)):
        x = d[i][0]
        y = d[i][1]
        ave.append(x + y)
        std.append(d[i][2])
    return(dict(std = std, ave = ave))

In [ ]:
person = {'std' : ['ahmad', 'omid', 'amir', 'zahra', 'ehsan', 'dorsa'],
          'num1' : [12, 8, 10, 18, 15, 20],
          'num2' : [20, 19, 13, 10, 11, 15]}
person

{'std': ['ahmad', 'omid', 'amir', 'zahra', 'ehsan', 'dorsa'],
 'num1': [12, 8, 10, 18, 15, 20],
 'num2': [20, 19, 13, 10, 11, 15]}

In [ ]:
my_ave(person)

{'std': ['ahmad', 'omid', 'amir', 'zahra', 'ehsan', 'dorsa'],
 'ave': [32, 27, 23, 28, 26, 35]}

## تمرین 4 امتیازی:

## input:

    std 	num1 	num2
 	ahmad 	2 	8
 	omid 	8 	19
 	amir 	10 	13
 	zahra 	3 	5
 	ehsan 	15 	11
 	dorsa 	20 	15

## output:

    std     ave passed
 	ahmad 	10 	no
 	omid 	27 	yes
 	amir 	23 	yes
 	zahra 	8 	no
 	ehsan 	26 	yes
 	dorsa 	35 	yes

In [ ]:
person = {'std' : ['ahmad', 'omid', 'amir', 'zahra', 'ehsan', 'dorsa'],
          'num1' : [2, 8, 10, 3, 15, 20],
          'num2' : [8, 19, 13, 5, 11, 15]}
person

{'std': ['ahmad', 'omid', 'amir', 'zahra', 'ehsan', 'dorsa'],
 'num1': [2, 8, 10, 3, 15, 20],
 'num2': [8, 19, 13, 5, 11, 15]}

In [ ]:
def my_ave(this_dict):
    std = []
    ave = []
    passed = []

    a = this_dict.popitem()
    a = a[1]
    b = this_dict.popitem()
    b = b[1]
    c = this_dict.popitem()
    c = c[1]

    d = zip(a,b,c)
    d = list(d)

    for i in range(len(a)):
        x = d[i][0]
        y = d[i][1]
        if (x+y)/2 >= 10:
            passed.append('yes')
            ave.append((x+y)/2)
            std.append(d[i][2])
        else:
            passed.append('no')
            ave.append((x+y)/2)
            std.append(d[i][2])
    return(dict(std=std, ave=ave, passed=passed))

In [ ]:
my_ave(person)

{'std': ['ahmad', 'omid', 'amir', 'zahra', 'ehsan', 'dorsa'],
 'ave': [5.0, 13.5, 11.5, 4.0, 13.0, 17.5],
 'passed': ['no', 'yes', 'yes', 'no', 'yes', 'yes']}